<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>795725916590-72fq401hgjlr34237eps9idte03a5hdh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.795725916590-72fq401hgjlr34237eps9idte03a5hdh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>795725916590-1n62nbhff653lmi1dus0mmue6lvhbanl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCMcM43vypRsHLuDJlVZnvtw2BybenHkQk</string>
	<key>GCM_SENDER_ID</key>
	<string>795725916590</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dk.swag.awesomechatapp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-cedaf</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-cedaf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:795725916590:ios:0d14067eb7c6c7de0b803f</string>
	<key>DATABASE_URL</key>
	<string>https://chat-app-cedaf-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>